body {
  text-align: center;
  background-image: url(wallpaper.jpg);
  }
h1 {
  color:white
  }
/*barre fixe*/
ul {
    list-style-type: none; /*pour pas avoir les rond de liste*/
    background-color: rgb(83, 58, 88);
    width: 5%; /*pour lageur des petales*/
    border-radius: 50px 0px;
    display: inline-block; /*pour mettre les elements cote a cote*/
    }
/*texte dans ma petale*/     
li.deroulétotal {
    float: left;
    color: rgb(255, 255, 255);
    }
/*mon deroulé*/  
.sous {
    display: none; /*pour caché les lignes ex : exeo 1, 2 ..*/ 
    position: absolute; /*pour que le deroulé soit à l'exterieur */ 
    background-color:  rgb(161, 157, 161);    
    }  
/*texte de mon deroulé*/
.sous a {
    color: black;
    padding: 12px 16px;
    text-decoration: none; /*pour ne pas avoir de lien souligné*/
    }
/* Couleur d'arriere-plan des sous-menu au survol */      
.sous a:hover {
    background-color: #f1f1f1;
    }
/*pour afficher le deroulé*/ 
.deroulétotal:hover .sous {
    display: block;
    }
